@page
@model DinerWebApp.Pages.PreviousRunsModel
@{
}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Row</th>
      <th scope="col">Name</th>
      <th scope="col">RunTime</th>
      <th scope="col"># Of Parties</th>
      <th scope="col"># Of Waiters</th>
      <th scope="col"># Of Cooks</th>
      <th scope="col"># Of Tables</th>
      <th scope="col">Avg Party Entry Time</th>
      <th scope="col">Set Avg Party Size</th>
      <th scope="col">Actual Avg Party Size</th>
    </tr>
  </thead>
  <tbody>
        @for(int i = 0; i < Model.PrevRuns.Count; i++)
        {
            <tr>
                <th scope="row">@i</th>
                <td>@Model.PrevRuns[i].Name</td>
                <td>@Model.PrevRuns[i].Runtime</td>
                <td>@Model.PrevRuns[i].NumberOfCustomers</td>
                <td>@Model.PrevRuns[i].NumberOfWaiters</td>
                <td>@Model.PrevRuns[i].NumberOfCooks</td>
                <td>@Model.PrevRuns[i].NumberOfTables</td>
                <td>@Model.PrevRuns[i].AverageEntryTime</td>
                <td>@Model.PrevRuns[i].SetAveragePartySize</td>
                <td>@Model.PrevRuns[i].ActualAveragePartySize</td>
            </tr>
        }
  </tbody>
</table>
