@page "/"
@using JCsDiner

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<div class="row">

    <div class="col-6">
        <form method="post">
            <label for="name">Simulation Name:</label>
            <input @bind=simName  type="text" min="1" placeholder="Simulation Name" required />
            <br />

            <label for="parties">Number of Parties:</label>
            <input @bind=parties name="parties" type="number" min="1" max="999" required />
            <br />

            <label for="waiters">Number of Waiters:</label>
            <input @bind=waiters name="waiters" type="number" min="1" max="99" required />
            <br />

            <label for="cooks">Number of Cooks:</label>
            <input @bind=cooks name="cooks" type="number" min="1" max="99" required/>
            <br />

            <label for="tables">Number of Tables:</label>
            <input @bind=tables name="tables" type="number" min="3" max="99" required />
            <br />

            <label for="partySize">Average Party Size:</label>
            <input @bind=partySize name="partySize" type="number" min="1" max="13" required />
            <br />

            <label for="entryTime">Average Party Entry Time:</label>
            <input @bind=entryTime name="entryTime" type="range" min="1" max="10"/>
            <br />

            <label for="eatingTime">Average Party Eat Time:</label>
            <input @bind=eatingTime name="eatingTime" type="range" min="4" max="14"/>
            <br />

            <button @onclick="simulate">Simulate</button>
        </form>
    </div>
</div>

<input @bind=numGuests/>
<button @onclick="doTheThing">Do the thing!</button>
<p>@result</p>

<h3>Results:</h3>
<p>Simulation: @simResults.Name</p>
<p>Run Time: @simResults.Runtime</p>
<p>parties: @simResults.NumberOfCustomers</p>
<p>waiters: @simResults.NumberOfWaiters</p>
<p>cooks: @simResults.NumberOfCooks</p>
<p>tables: @simResults.NumberOfTables</p>
<p>avg party size: @simResults.ActualAveragePartySize</p>
<p>avg entry time: @simResults.AverageEntryTime</p>

@code{
    Simulator sim = new();
    string simName = "Simulation Name";
    int parties = 10;
    int numGuests = 5;
    int waiters = 2;
    int cooks = 2;
    int tables = 6;
    int partySize = 4;
    int entryTime = 4;
    int eatingTime = 6;
    string result = "";
    SimulatorResults simResults = new SimulatorResults();

    void simulate()
    {
        SimulatorArguments simArgs = new()
        {
            Customers = parties,
            NumberOfWaiters = waiters,
            NumberOfCooks = cooks,
            NumberOfTables = tables,
            AveragePartySize = partySize,
            AveragePartyEntryTime = entryTime,
            AverageEatingTime = eatingTime
        };
        SimulatorResults results =  sim.Run(simArgs);
    }
    void doTheThing()
    {
        result = $"there are {numGuests} guests!";
    }
}
